# eigenes bolt-projekt
server/web
server/web/**
!server/web/.gitkeep

# beispiel-bolt-projekt
server/beispiel-bolt
server/beispiel-bolt/**
!server/beispiel-bolt/README.md
!server/beispiel-bolt/public/theme/mui-webtech

# mac-environment
.DS_Store
.idea
